*{
    margin: 0px;
    padding:0px;
    border: hidden;
    font-family:"Roboto", Arial, sans-serif;
    list-style-type: none;
}
.sec1-maindiv-1{
    display: flex;
    justify-content:space-around;
    padding: 10px;
    background-color: #589167;
    color: white;
}
.sec1-div-1>i{
    margin-right: 5px;
    font-size: 11px;
}
.sec1-div-1>span{
    margin-right:20px;
    font-size:16px
}
.sec2-div2-sp-1{
    color:#589167;
}
.sec2-div2-sp-2:hover{
    color:#589167 ;
}
.sec2-div2-sp-3:hover{
    color:#589167 ;
}
.sec2-div2-sp-4:hover{
    color:#589167 ;
}
.sec2-div2-sp-5:hover{
    color:#589167 ;
}
.sec2-div2-sp-6:hover{
    color:#589167 ;
}
.sec2-div2-sp-7:hover{
    color:#589167 ;
}
.sec1-div-2>i{
    margin-left: 30px;
    font-size: 16px
}
.sec1-div-2{
    margin-left:20px;
}
.sec2-maindiv-1{
    display: flex;
    justify-content: space-around;
}
.head-2{
   position:sticky;
    top:0px;
    z-index: 10;
     padding:30px;
     background-color: white;
}
.sec2-div-1 p{
    font-weight: 700;
    font-size: 18px;
    margin-left: 30PX;
}
.sec3-div2-p-2{
    line-height:23px;
    font-weight:100;
}
.sec2-div-2 span{
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
}
.sec2-div-2{
    margin-right:30px;
}
.sec3-div1-img-1{
    width: 1532px;
    height:650px;
}